* {
    margin: 0 auto;
    font-family: Helvetica;
    font-weight: 100;
    text-align: center;
}

#container {
    /*border: 1px solid black;*/
    width: 960px;
}


/*HEADER CSS*/

#header {
    /*border: 1px dotted red;*/
    width: 100%;
    height: 125px;
    background-color: #265175;
}

#headerLogo {
    /*border: 1px dotted green;*/
    background-image: url("python.png");
    background-size: contain;
    height: 100px;
    width: 350px;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

#headerRight {
    /*border: 1px dotted red;*/
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 275px;
    margin-top: 10px;
    margin-left: 290px;
}

#headerText {
    /*border: 1px dotted yellow;*/
    width: 100%;
    height: 19px;
    font-size: .8em;
}

#headerText ul {
    margin-left: 20px;
}

#headerText ul li {
    display: inline-block;
    vertical-align: top;
}

#headerSearch {
    width: 100%;
    height: 60px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #1f1f1f;
}

#searchForm {
    display: inline-block;
    vertical-align: top;
}

#searchBar {
    width: 150px;
    height: 28px;
    margin-top: 13px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px #1f1f1f;
}

#searchBtn {
    height: 30px;
    width: 40px;
    color: white;
    background-color: #265175;
    box-shadow: 1px 1px 1px #1f1f1f;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 3px;
}

.white {
    color: white;
}

.gold {
    color: rgb(212, 178, 0)
}


/*NAVBAR CSS*/

#navbar {
    height: 50px;
    width: 100%;
    background-color: #265175;
}

#navbarList {
    background-color: #3776ab;
    height: 90%;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #1f1f1f;
    background: linear-gradient(#3776ab, #4b80ab, #3776ab);
    /*background: linear-gradient(#5286b1, #3776ab, #5286b1);*/
}

#navbarList li {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3em;
    margin-top: 10px;
    height: 55px;
    font-weight: 300;
}

#navbarList li a {
    text-decoration: none;
    color: white;
}


/*SIDENAV CSS*/

#main {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 300px;
    background-color: #265175;
    border-bottom: 3px solid #1a3852;
}


/*SIDENAV CSS*/

#sidenav {
    /*border: 1px dotted green;*/
    height: 270px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: 15px;
}

#sidenav ul {
    list-style: none;
    margin-top: 15px;
    margin-left: 15px;
    padding: 0;
}

#sidenav ul li:before {
    content: "\00BB \0020";
    color: #ffd343;
}

#sidenav ul li {
    /*border: 1px dotted red;*/
    margin-bottom: 10px;
}

#sidenav ul li a {
    color: white;
    font-weight: 100;
}


/*MAIN CSS*/

#mainContent {
    /*border: 1px dotted red;*/
    height: 270px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}

.zen {
    font-weight: lighter;
    margin-top: 10px;
    font-style: italic;
    color: #ffd343
}

#footer {
    /*border: 1px dotted red;*/
    width: 100%;
    margin-top: 10px;
}

.footerContent {
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #75a8d3;
    height: 200px;
    width: 270px;
    padding-top: 5px;
    padding-right: 105px;
    padding-left: 20px;
}

.footer1 {
    margin-left: 60px;
}

.footer2 {
    margin-left: 20px;
}

.title {
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 10px;
}

#footer p, #footer a {
    font-size: .8em;
}

#footer ul {
    list-style: square;
}

#footer ul li a {
    color: #75a8d3;
    text-decoration: none;
}

.link {
    color: #75a8d3;
    text-decoration: none;
}

#footnotes {
    width: 100%;
    height: 100px;
    background: linear-gradient(#265175, #3776ab);
}

#footnotes ul {
    text-decoration: none;
}

#footnotes ul li {
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

#footnotes ul li a {
    color: #89bae3;
    text-decoration: none;
}

#footnotes p {
    color: #89bae3;
    font-size: .5em;
    margin-top: 15px;
}
